In [28]:
import pandas as pd
# データ読み込み
train_2018_df = pd.read_csv('/Users/onehe/Desktop/コンペティション/Jリーグ選手出場時間予測_nishika/data/input/train_2018.csv')
train_2017_df = pd.read_csv('/Users/onehe/Desktop/コンペティション/Jリーグ選手出場時間予測_nishika/data/input/train_2017.csv')
train_2016_df = pd.read_csv('/Users/onehe/Desktop/コンペティション/Jリーグ選手出場時間予測_nishika/data/input/train_2016.csv')

train_2018_df['year'] = 2018
train_2017_df['year'] = 2017
train_2016_df['year'] = 2016

test_df = pd.read_csv("/Users/onehe/Desktop/コンペティション/Jリーグ選手出場時間予測_nishika/data/input/test.csv")
test_df["year"] = 2019

t_df_dic = {2018: test_df, 2017: train_2018_df, 2016: train_2017_df, 2015: train_2016_df}

for year in [2018,2017,2016,2015]:
    t_df = t_df_dic[year]
    t_df["name-team"] = t_df["name"] + "-" + t_df["prev1_team"].apply(lambda x: x.split("・")[-1])
    
    eve_pla_df = pd.read_csv(f"/Users/onehe/Desktop/コンペティション/Jリーグ選手出場時間予測_nishika/data/output/event_play_{year}_4div改.csv")
    
    for df in [eve_pla_df]:
        df["name-team"] = df["name"] + "-" + df["team"]
        df.drop(["name", "team"], axis=1, inplace=True)
        t_df = pd.merge(t_df, df, on="name-team", how="left")
        
    t_df.drop(["name-team"], axis=1, inplace=True)
    t_df_dic[year] = t_df
    
test_df = t_df_dic[2018]
train_2018_df = t_df_dic[2017]
train_2017_df = t_df_dic[2016]
train_2016_df = t_df_dic[2015]

In [29]:
# チームIDをチーム名に変換する辞書作成
team_df = pd.read_csv('/Users/onehe/Desktop/コンペティション/Jリーグ選手出場時間予測_nishika/data/input/team.csv')
team_dic = dict(zip(team_df['team_id'], team_df['team_name']))
team_id_list = [v for v in team_dic.values()]

#チームid追加
for df, year in [[test_df, 2019], [train_2018_df, 2018], [train_2017_df, 2017], [train_2016_df, 2016]]:
    df["team_id"] = df["team"]
    df["team_id"] = df["team_id"].replace(team_dic)

In [59]:
train_2016_df[train_2016_df["team"] == "甲府"]

,id,team,No,name,time_played,position,birthdate,height,weight,salary,...,rat_in_play_forth,rat_inout_play_forth,rat_bench_play_forth,rat_susp_play_forth,team_id,1st_c,2st_c,3st_c,4st_c,change_c
123,209,甲府,1.0,河田 晃兵,2970.0,GK,1987-10-13,184,73,700,...,0.000000,0.0,0.000000,0.000000,甲府,0,1,0,0,0
124,210,甲府,2.0,福田 健介,394.0,DF,1984-07-24,174,70,800,...,0.000000,0.0,0.000000,0.000000,甲府,0,1,0,0,0
125,211,甲府,3.0,畑尾 大翔,777.0,DF,1990-09-16,183,79,500,...,0.000000,0.0,0.147059,0.000000,甲府,0,1,0,0,0
126,212,甲府,4.0,山本 英臣,2021.0,DF,1980-06-26,175,69,2200,...,0.000000,0.0,0.000000,0.000000,甲府,0,1,0,0,0
127,213,甲府,5.0,新里 亮,1098.0,DF,1990-07-02,185,70,900,...,0.000000,0.0,0.071429,0.023810,甲府,0,1,0,0,0
128,214,甲府,6.0,ジウトン,0.0,DF,1989-03-25,180,74,2800,...,NaN,NaN,NaN,NaN,甲府,0,1,0,0,0
129,216,甲府,7.0,石原 克哉,112.0,MF,1978-10-02,176,64,1500,...,0.000000,0.0,0.147059,0.000000,甲府,0,1,0,0,0
130,217,甲府,8.0,新井 涼平,1761.0,MF,1990-11-03,183,67,800,...,0.000000,0.0,0.000000,0.000000,甲府,0,1,0,0,0
131,220,甲府,9.0,ニウソン,398.0,FW,1991-04-06,184,75,2400,...,NaN,NaN,NaN,NaN,甲府,0,1,0,0,0
132,221,甲府,10.0,クリスティアーノ,1504.0,FW,1987-01-12,183,83,5900,...,0.029412,0.0,0.000000,0.000000,甲府,0,1,0,0,0
133,227,甲府,13.0,河本 明人,993.0,FW,1990-05-01,174,71,600,...,0.047619,0.0,0.000000,0.047619,甲府,0,1,0,0,0
134,228,甲府,14.0,田中 佑昌,2554.0,MF,1986-02-03,176,75,1400,...,0.047619,0.0,0.095238,0.000000,甲府,0,1,0,0,0
135,229,甲府,15.0,吉野 峻光,115.0,MF,1989-04-24,176,67,600,...,0.000000,0.0,0.047619,0.000000,甲府,0,1,0,0,0
136,230,甲府,16.0,松橋 優,2470.0,DF,1985-03-22,173,69,800,...,0.088235,0.0,0.029412,0.000000,甲府,0,1,0,0,0
137,231,甲府,17.0,津田 琢磨,1807.0,DF,1980-10-04,179,71,800,...,0.117647,0.0,0.000000,0.000000,甲府,0,1,0,0,0
138,232,甲府,19.0,盛田 剛平,203.0,FW,1976-07-13,189,86,1500,...,0.000000,0.0,0.117647,0.000000,甲府,0,1,0,0,0
139,233,甲府,20.0,黒木 聖仁,1772.0,MF,1989-10-24,180,72,550,...,0.023810,0.0,0.000000,0.000000,甲府,0,1,0,0,0
140,234,甲府,22.0,岡 大生,0.0,GK,1988-04-18,185,75,500,...,0.000000,0.0,0.023810,0.000000,甲府,0,1,0,0,0
141,235,甲府,23.0,稲垣 祥,2846.0,MF,1991-12-25,175,70,550,...,0.117647,0.0,0.117647,0.000000,甲府,0,1,0,0,0
142,237,甲府,25.0,森 晃太,358.0,FW,1997-06-13,175,69,380,...,NaN,NaN,NaN,NaN,甲府,0,1,0,0,0
143,238,甲府,26.0,熊谷 駿,148.0,DF,1996-08-07,190,84,380,...,NaN,NaN,NaN,NaN,甲府,0,1,0,0,0
144,239,甲府,27.0,ビリー セレスキー,869.0,MF,1985-07-14,174,73,900,...,NaN,NaN,NaN,NaN,甲府,0,1,0,0,0
145,240,甲府,28.0,橋爪 勇樹,2243.0,MF,1990-08-10,175,65,500,...,0.000000,0.0,0.088235,0.000000,甲府,0,1,0,0,0
146,241,甲府,29.0,渡邉 将基,22.0,DF,1986-12-02,181,77,700,...,0.023810,0.0,0.000000,0.023810,甲府,0,1,0,0,0
147,242,甲府,30.0,保坂 一成,1174.0,MF,1983-03-24,172,63,700,...,0.000000,0.0,0.088235,0.000000,甲府,0,1,0,0,0
148,243,甲府,31.0,岡西 宏祐,90.0,GK,1990-07-17,186,80,480,...,0.000000,0.0,0.000000,0.000000,甲府,0,1,0,0,0
149,244,甲府,41.0,土屋 征夫,1731.0,DF,1974-07-31,177,73,900,...,0.088235,0.0,0.000000,0.000000,甲府,0,1,0,0,0

In [30]:
for df in [test_df,train_2018_df, train_2017_df, train_2016_df]:
    df["1st_c"] = 0
    df["2st_c"] = 0
    df["3st_c"] = 0
    df["4st_c"] = 0
    df["change_c"] = 0
import pandas as pd
coach_df = pd.read_csv("/Users/onehe/Desktop/コンペティション/Jリーグ選手出場時間予測_nishika/data/input/coach.csv")
coach_df

   team_name  team_id start_YM end_YM    coach_name
0         鹿島        1     13/1   15/7    トニーニョ　セレーゾ
1         鹿島        1     15/7   17/5         石井　正忠
2         鹿島        1     17/5    NaN          大岩　剛
3         浦和        3     12/1   17/7  ミハイロ　ペトロヴィッチ
4         浦和        3     17/7   18/4          掘　孝史
..       ...      ...      ...    ...           ...
75        新潟       78     17/1   17/5         三浦　文丈
76        新潟       78     17/5   17/5        片渕　浩一郎
77        新潟       78     17/5  17/12      呂比須　ワグナー
78        新潟       78     18/1   18/8         鈴木　政一
79        新潟       78     18/8    NaN        片渕　浩一郎

[80 rows x 5 columns]

In [60]:
coach_df = coach_df.fillna("継続中")
for i in range(0,80):
    if "15" in coach_df["end_YM"][i]:
        team_name = coach_df["team_name"][i]
        if ("/2" in coach_df["end_YM"][i]) or ("/3" in coach_df["end_YM"][i]) or ("/4" in coach_df["end_YM"][i]):
            train_2016_df.loc[train_2016_df["team"] == team_name, "1st_c"] += 1

        elif ("/4" in coach_df["end_YM"][i]) or ("/5" in coach_df["end_YM"][i]) or ("/6" in coach_df["end_YM"][i]):
            train_2016_df.loc[train_2016_df["team"] == team_name, "2st_c"] += 1

        elif ("/6" in coach_df["end_YM"][i]) or ("/7" in coach_df["end_YM"][i]) or ("/8" in coach_df["end_YM"][i]):
            train_2016_df.loc[train_2016_df["team"] == team_name, "3st_c"] += 1
            
        elif ("/8" in coach_df["end_YM"][i]) or ("/9" in coach_df["end_YM"][i]) or ("/10" in coach_df["end_YM"][i]) or ("/11" in coach_df["end_YM"][i]):
            train_2016_df.loc[train_2016_df["team"] == team_name, "4st_c"] += 1
            
        elif "/12" in coach_df["end_YM"][i]:
            train_2016_df.loc[train_2016_df["team"] == team_name, "change_c"] += 1
            
            
    if "16" in coach_df["end_YM"][i]:
        team_name = coach_df["team_name"][i]
        if ("/2" in coach_df["end_YM"][i]) or ("/3" in coach_df["end_YM"][i]) or ("/4" in coach_df["end_YM"][i]):
            train_2017_df.loc[train_2017_df["team"] == team_name, "1st_c"] += 1

        elif ("/4" in coach_df["end_YM"][i]) or ("/5" in coach_df["end_YM"][i]) or ("/6" in coach_df["end_YM"][i]):
            train_2017_df.loc[train_2017_df["team"] == team_name, "2st_c"] += 1

        elif ("/6" in coach_df["end_YM"][i]) or ("/7" in coach_df["end_YM"][i]) or ("/8" in coach_df["end_YM"][i]):
            train_2017_df.loc[train_2017_df["team"] == team_name, "3st_c"] += 1
            
        elif ("/8" in coach_df["end_YM"][i]) or ("/9" in coach_df["end_YM"][i]) or ("/10" in coach_df["end_YM"][i]) or ("/11" in coach_df["end_YM"][i]):
            train_2017_df.loc[train_2017_df["team"] == team_name, "4st_c"] += 1
            
        elif "/12" in coach_df["end_YM"][i]:
            train_2017_df.loc[train_2017_df["team"] == team_name, "change_c"] += 1
            
            
    if "17" in coach_df["end_YM"][i]:
        team_name = coach_df["team_name"][i]
        if ("/2" in coach_df["end_YM"][i]) or ("/3" in coach_df["end_YM"][i]) or ("/4" in coach_df["end_YM"][i]):
            train_2018_df.loc[train_2018_df["team"] == team_name, "1st_c"] += 1

        elif ("/4" in coach_df["end_YM"][i]) or ("/5" in coach_df["end_YM"][i]) or ("/6" in coach_df["end_YM"][i]):
            train_2018_df.loc[train_2018_df["team"] == team_name, "2st_c"] += 1

        elif ("/6" in coach_df["end_YM"][i]) or ("/7" in coach_df["end_YM"][i]) or ("/8" in coach_df["end_YM"][i]):
            train_2018_df.loc[train_2018_df["team"] == team_name, "3st_c"] += 1
            
        elif ("/8" in coach_df["end_YM"][i]) or ("/9" in coach_df["end_YM"][i]) or ("/10" in coach_df["end_YM"][i]) or ("/11" in coach_df["end_YM"][i]):
            train_2018_df.loc[train_2018_df["team"] == team_name, "4st_c"] += 1
            
        elif "/12" in coach_df["end_YM"][i]:
            train_2018_df.loc[train_2018_df["team"] == team_name, "change_c"] += 1
            
            
    if "18" in coach_df["end_YM"][i]:
        team_name = coach_df["team_name"][i]
        if ("/2" in coach_df["end_YM"][i]) or ("/3" in coach_df["end_YM"][i]) or ("/4" in coach_df["end_YM"][i]):
            test_df.loc[test_df["team"] == team_name, "1st_c"] += 1

        elif ("/4" in coach_df["end_YM"][i]) or ("/5" in coach_df["end_YM"][i]) or ("/6" in coach_df["end_YM"][i]):
            test_df.loc[test_df["team"] == team_name, "2st_c"] += 1

        elif ("/6" in coach_df["end_YM"][i]) or ("/7" in coach_df["end_YM"][i]) or ("/8" in coach_df["end_YM"][i]):
            test_df.loc[test_df["team"] == team_name, "3st_c"] += 1
            
        elif ("/8" in coach_df["end_YM"][i]) or ("/9" in coach_df["end_YM"][i]) or ("/10" in coach_df["end_YM"][i]) or ("/11" in coach_df["end_YM"][i]):
            test_df.loc[test_df["team"] == team_name, "4st_c"] += 1
            
        elif "/12" in coach_df["end_YM"][i]:
            test_df.loc[test_df["team"] == team_name, "change_c"] += 1

In [61]:
test_df

,id,team,No,name,position,birthdate,height,weight,salary,nth_year,...,rat_in_play_forth,rat_inout_play_forth,rat_bench_play_forth,rat_susp_play_forth,team_id,1st_c,2st_c,3st_c,4st_c,change_c
0,0,C大阪,1.0,圍 謙太朗,GK,1991-04-23,190.0,90.0,750,2.0,...,0.000000,0.0,0.142857,0.000000,C大阪,0,0,0,0,1
1,1,C大阪,2.0,松田 陸,DF,1991-07-24,171.0,69.0,2700,4.0,...,0.058824,0.0,0.000000,0.000000,C大阪,0,0,0,0,1
2,2,C大阪,3.0,木本 恭生,DF,1993-08-06,183.0,73.0,2000,4.0,...,0.088235,0.0,0.058824,0.000000,C大阪,0,0,0,0,1
3,3,C大阪,4.0,藤本 康太,DF,1986-04-02,177.0,76.0,2400,15.0,...,0.000000,0.0,0.058824,0.000000,C大阪,0,0,0,0,1
4,4,C大阪,5.0,藤田 直之,MF,1987-06-22,175.0,72.0,4200,1.0,...,0.088235,0.0,0.000000,0.029412,C大阪,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,730,名古屋,27.0,相馬 勇紀,FW,1997-02-25,165.0,68.0,480,1.0,...,0.029412,0.0,0.000000,0.000000,名古屋,0,0,0,0,0
484,731,名古屋,28.0,榎本 大輝,MF,1996-06-21,163.0,60.0,460,1.0,...,0.000000,0.0,0.000000,0.000000,名古屋,0,0,0,0,0
485,732,名古屋,29.0,和泉 竜司,MF,1993-11-06,173.0,72.0,2000,4.0,...,0.058824,0.0,0.000000,0.000000,名古屋,0,0,0,0,0
486,734,名古屋,31.0,金井 貢史,DF,1990-02-05,175.0,70.0,2500,2.0,...,0.058824,0.0,0.058824,0.000000,名古屋,0,0,0,0,0
487,735,名古屋,32.0,赤﨑 秀平,FW,1991-09-01,174.0,70.0,1800,1.0,...,0.000000,0.0,0.029412,0.000000,名古屋,0,0,0,0,0

In [12]:
coach_df = coach_df.fillna("継続中")
for i in range(0,80):
    if "15" in coach_df["end_YM"][i]:
        if ("/2" in coach_df["end_YM"][i]) or ("/3" in coach_df["end_YM"][i]) or ("/4" in coach_df["end_YM"][i]):
            print("2-4", coach_df["end_YM"][i])

        elif ("/4" in coach_df["end_YM"][i]) or ("/5" in coach_df["end_YM"][i]) or ("/6" in coach_df["end_YM"][i]):
            print("4-6", coach_df["end_YM"][i])

        elif ("/6" in coach_df["end_YM"][i]) or ("/7" in coach_df["end_YM"][i]) or ("/8" in coach_df["end_YM"][i]):
            print("6-8", coach_df["end_YM"][i])
            
        elif ("/8" in coach_df["end_YM"][i]) or ("/9" in coach_df["end_YM"][i]) or ("/10" in coach_df["end_YM"][i]) or ("/11" in coach_df["end_YM"][i]) or ("/12" in coach_df["end_YM"][i]):
            print("8-12", coach_df["end_YM"][i])

6-8 15/7
6-8 15/8
8-12 15/12
8-12 15/12
8-12 15/12
6-8 15/7
8-12 15/11
8-12 15/12
4-6 15/5
4-6 15/6
8-12 15/12
8-12 15/12
8-12 15/12

In [73]:
for i in range(0,80):
    if "15" in coach_df["end_YM"][i]:
        if "7" in coach_df["end_YM"][i]:
            print(coach_df["end_YM"][i])

15/7
15/7

In [56]:
type(coach_df["end_YM"][2])

float

In [45]:
"15" in coach_df["end_YM"][0]

True

In [52]:
for i in range(0,80):
    print(coach_df["end_YM"][i])

15/7
17/5
nan
17/7
18/4
nan
18/1
nan
15/8
15/12
17/12
nan
15/12
16/8
16/12
nan
17/12
18/7
nan
17/7
17/12
nan
15/12
16/3
18/5
18/11
18/12
nan
nan
nan
15/7
17/12
nan
17/8
18/9
nan
15/11
16/12
18/12
nan
17/1
nan
15/12
16/7
17/9
17/12
nan
18/12
nan
17/5
17/11
18/12
nan
15/5
16/12
18/4
18/12
nan
16/12
nan
15/6
15/12
nan
15/12
nan
18/12
nan
nan
18/12
nan
14/4
nan
15/12
16/9
16/12
17/5
17/5
17/12
18/8
nan